body {
  background: #FFFFFF;
}
h2 {
  color: #3D9EE3;
  padding: 2%
  font-size:14px;
}
.navbar {
  background: transparent;
  margin: 0;
}
.navbar .navbar-nav {
  background: transparent;
  margin: 0;
}
.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.5) ;
}
.navbar-light .navbar-nav.active > .nav-link {
  color: blue;
}
.navbar-brand img {
  width:100px;
}
.content {
  margin-top:80px; 
  overflow-x:hidden;
}
/*        Home page Styling  */

#home-landing {
   background-image:url('../img/home-bannar.png');
   padding: 5% 0%;
    background-size:100%;
}
#home-landing img {
  width: 100%;
}
#home-landing p,#home-landing h1{
  margin: 5% 0%;
}
.landing-details {
   margin-top: 200px;
}
.home-participant {
  position: absolute;
  top: 200px;
  font-size: 24px;
}
.home-participant span {
  color: #F9B202;
  font-size: 72px;
  font-weight: bold;
}
.home-about img{
  width: 60%;
}
#home-iotw {
  background-image: url("../img/home-bannar.png");
  height: 500px;
}
.home-git {
  padding: 4%;
  margin-top: 50px;
}
.home-git p {
  padding: 2%;
  float: left;
}
.home-git address div >p {
  width: 80%;
}
.home-git i {
  display: block;
  float: left;
  margin: 3%;
}
.clearfix {
  clear:both;
}

.contact-form {
   width:350px;
  background: #FFFFFF;
  height:auto;
  border: 1px solid rgba(0, 0, 0, 0.25);
  position:absolute;
  right:270px;
  margin-top:8%;
  margin-top:8%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 5% 2% 2% 2%;
  border-radius: 10px;
  padding-bottom: 2%; 
}
.contact-form form{
 
}
.contact-form .form-control {
  margin: 10% 0%;
  border: 1px solid #3D9EE3;
}
.contact-form textarea {
  height: 200px;
  resize: none;
}
/*                PROJECTS PAGE    STYLING       */
.project-card{
	margin-top: 20px;
	margin-bottom: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project-card:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.35), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
}

.project-card-block{
	padding: 10px 20px;
}
.project-title{
	color: #3D9EE3;
}
.project-div{
	background-color: #E1E1E1;
	padding: 30px;
	text-align: justify;
	display: none;
}






/*            PARTICIPANT PAGE STYLING        */





/*            PAST INTENSHIP PAGE STYLING    */





/*            BLOG PAGE STYLING             */





/*         BLOG POST PAGE STYLING    */




/*          LIBRARY PAGE   STYLING          */

.library-tips {
  background: #E1E1E1;
	padding: 80px 50px;
	margin-top: 50px;
}

/*            SUPPORTERS   SRYLING   */

    .supporters-bg {
      background: linear-gradient(rgba(255,255,255,0.9),rgba(255,255,255,0.9)),
      url('http://res.cloudinary.com/do8buqscj/image/upload/q_auto/v1508098870/C-BcomiW0AIrdsi_qiwvoh.png');
      overflow: hidden;
      background-size: cover; 
      background-attachment: fixed; 
      width: 100%; 
      background-position: center; 
      background-repeat: no-repeat;
      padding-bottom: 80px;
    }

     .supporters-bg__h1{
      font-size: 60px; 
      margin: 40px; 
      line-height: 70px;
    }

    .supporters-bg__image {
      margin: 0 auto;
      padding: 45px 90px;
    }

    .supporters-bg__image {
      filter: grayscale(1);
      transition: all .5s ease-in-out;
      -webkit-filter: grayscale(1);       
      -webkit-transition: all .5s ease-in-out;  
    }

    .supporters-bg__image:hover {
      filter: none;
      transform: scale(1.02);
      -webkit-filter: grayscale(0);
      -webkit-transform: scale(1.02);
    }


/*          ABOUT PAGE STYLING    */


/*          CONTACT PAGE STYLING */



/*          404 PAGE  STYLING */



/*          TASK PAGE STYLING   */

/*    FOOTER STYLING  */

footer {
  margin-top: 20px;
  background: #3D9EE3;
  padding: 2% 2%;
  color: #FFFFFF;
}
footer form {
  margin-top:50%;
  margin-right: 10%;
}
footer form .form-control{
  font-size:14px;  
  padding: 3%;
  margin: 1%;
}
footer form input[type='submit'].form-control{
  color:#FFFFFF;  
}
@media all and (max-width: 765px){
  .navbar {
  background:#FFFFFF ;
  margin: 0;
}
  .home-about img {
    width: 100%
  }
  .home-about h2 {
    width: 100%;
    font-size: 30px;
    border-bottom: 2px solid #3D9EE3;
    padding-bottom: 2%;
  }
  .contact-form {
    right:0;
    width: 96%;
    box-shadow: none;
    position: relative;
    margin: 2%;
    margin-bottom: 5%;
    padding: 10%;
  }
  .contact-form input[type='submit'] {
    margin-bottom: 2%; 
  }

  footer {
    margin-top: 4%;
  }
  footer form {
  margin-top:2%; 
  }
  footer form .form-control{  
  padding: 3%;
  margin-left: -0.2%;
  }

}